.btn-sq {
  width: 100%;
  height: 5rem;
  font-weight: bolder;
  font-size: 2rem;
  cursor: pointer;
  outline: transparent;
  transition: 500ms;
  border: 0.1rem solid var(--night);
}

.btn-dark {
  background-color: var(--night);
  color: var(--day);
}

.btn-dark:hover {
  color: var(--night);
  background-color: var(--day);
}

.btn-light {
  background-color: var(--day);
  color: var(--night);
}

.btn-light:hover {
  color: var(--day);
  background-color: var(--night);
}

/* ---------------------------------------Homepage */

/* ---------------------------------------Product listing */
.pList-card-btn {
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  border: none;
  font-size: 2.5rem;
  color: var(--night);
  background-color: var(--day);
  border: 0.1rem solid var(--night);
  font-family: var(--font-bold);
  transition: 360ms;
}

.pList-card-btn:hover {
  background-color: var(--night);
  color: var(--day);
}
