.main-container {
  width: 100%;
  height: 100vh;
}

.content-wrapper-main {
  width: 92%;
}

.item-container-full {
  background-color: white;
}

.heading-full {
  font-family: var(--font-bold);
  font-weight: bolder;
  text-align: center;
  font-size: 8rem;
}

.content-full {
  margin-top: 2rem;
}

.img-full {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  cursor: pointer;
}

/* Text button containers */

.text-heading-sub {
  font-size: 2rem;
}

.text-heading-main {
  font-family: var(--font-bold);

  font-size: 8rem;
}

/* overlay container */

.ovelay-container {
  bottom: 10%;
  left: 5%;
  background: transparent;
}

.overlay-text {
  color: var(--secondary);
  font-size: 3rem;
  font-family: var(--font-bold);
}

/* -------------------------------------------container2 */
.item-container {
  margin-bottom: 5rem;
}
.item-heading {
  font-family: var(--font-bold);
  font-size: 5rem;
}

.item-content {
  width: 100%;
}

.img-col-div {
  width: 48%;
}

.img-col {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}

/*  */

/* ---------------------------------- Footer */

.home-footer {
  min-height: 10rem;
  background-color: var(--night);
  color: var(--day);
  font-family: var(--font-bold);
  font-size: 3rem;
  width: 100%;
  bottom: 0;
  z-index: 8;
}
